<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<div *ngIf="hero; else divLoading" class="grid p-2">
  <mat-card class="col-12 sm:col-6">
    <mat-card-header>
      <mat-card-title>{{ hero.alter_ego }}</mat-card-title>
      <mat-card-subtitle>{{ hero.superhero }}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="hero | heroImage" [alt]="hero.superhero" />
  </mat-card>
  <mat-card class="col-12 sm:col-6">
    <mat-card-header>
      <mat-card-title>Información</mat-card-title>
      <mat-card-subtitle>{{ hero.superhero }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        <strong> primera aparicion: </strong>
        {{ hero.first_appearance }}
        <br />
        <mat-chip-listbox>
          <mat-chip
            *ngFor="let character of hero.characters.split(',')"
          >
            {{ character }}
          </mat-chip>
        </mat-chip-listbox>
      </p>
      <button mat-button color="warn" (click)="goBack()">Regresar</button>
    </mat-card-content>
  </mat-card>
</div>
